<h1>Posting lists</h1>


<table class="table">
  <thead>
    <% @posts.each do |post| %>
  	  <tbody>
    		<tr>
    			<td>name</td>
    			<td><%= post.user.name %> (<%= post.user.country %>) ←<%= link_to "send message", message_path(post.user.id) %></td>
    		</tr>
    		<tr>
    			<td>job</td>
    			<td><%= post.job %></td>
    		</tr>
    		<tr>
    			<td>term</td>
    			<td><%= post.start_date.strftime("%Y-%m-%d") %> ~ <%= post.end_date.strftime("%Y-%m-%d") %></td>
    		</tr>
    		<tr>
    			<td>comment</td>
    			<td><%= post.content %></td>
    		</tr>
  	  <% end %>
    </tbody>
</table>
